/* Импортируем шрифт Comfortaa */
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

h1 {
  font-family: 'Comfortaa', cursive;
}

h2 {
  font-family: 'Oswald', sans-serif;
}

.info-img{
    width: 500px;
}

.gallery-img{
    width: 500px;
}